html, body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, sans-serif;
  font-size: 14px;
}

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, textarea, p, blockquote, tbody, tfoot, thead, th, td {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

img {
  border: 0;
  vertical-align: top;
}

input {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

abbr {
  text-decoration: none;
}

.wrap {
  margin: 100px auto 0;
  position: relative;
  min-width: 1100px;
  width: 1100px;
  height: 500px;
  border: 1px solid #ccc;
  overflow: hidden;
  box-sizing: border-box;
}

.wrap .cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10;
}

.wrap .game-title {
  padding-top: 140px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}

.wrap .game-board {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  width: 400px;
  height: 100%;
  color: #fff;
  background-color: #000;
  line-height: 1;
  box-sizing: border-box;
}

.wrap .game-board abbr {
  display: inline-block;
  width: 50px;
  font-size: 40px;
  line-height: 40px;
}

.wrap .game-board>p {
  margin-top: 20px;
  font-size: 0;
  font-weight: bold;
}

.wrap .game-board>p:first-child {
  margin-top: 0;
}

.wrap .game-board .count>span {
  display: inline-block;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  vertical-align: top;
}

.wrap .game-board .count>span:first-child {
  margin-left: 0;
}

.wrap .game-board .ball .count>.on {
  background: #69bd46;
}

.wrap .game-board .strike .count>.on {
  background: #f6ec13;
}

.wrap .game-board .out .count>.on {
  background: #ee1f25;
}

#btn-game-start {
  position: absolute;
  left: 50%;
  bottom: 50px;
  margin-left: -75px;
  padding: 20px;
  width: 150px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  background: #0e5e14;
  box-sizing: border-box;
}
